In [1]:
#imported necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Reading data into a variable

In [4]:
df = pd.read_csv("salarydata.csv")
df.head()

,age,workclass,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.columns

Index(['age', 'workclass', 'education', 'education-num', 'marital-status',
       'occupation', 'relationship', 'race', 'sex', 'capital-gain',
       'capital-loss', 'hours-per-week', 'native-country', 'salary'],
      dtype='object')

In [6]:
#To those columns which may have null values

In [7]:
df.columns.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False])

In [8]:
#Here we are removing the three columns, capital gain, capital loss,
#and education-num

In [9]:
df.drop(['capital-gain','capital-loss','education-num'], axis = 1,inplace = True)
df.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,salary
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   education       32561 non-null  object
 3   marital-status  32561 non-null  object
 4   occupation      32561 non-null  object
 5   relationship    32561 non-null  object
 6   race            32561 non-null  object
 7   sex             32561 non-null  object
 8   hours-per-week  32561 non-null  int64
 9   native-country  32561 non-null  object
 10  salary          32561 non-null  object
dtypes: int64(2), object(9)
memory usage: 2.7+ MB

In [11]:
df.columns

Index(['age', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [12]:
#Changed the order of columns, 
#hours-per-week was changed to 2nd column

In [13]:
df = df[['age', 'hours-per-week', 'workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country','salary']]
df.head()

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K

In [14]:
#Checking whether categorical columns have unwanted inputs
#Columns like workclass, occupation, native-country have a unique value

In [15]:
for i in df.iloc[:,2:].columns:
    print("{} : {}".format(i,list(pd.unique(df[i]))))

workclass : ['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov', 'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked']
education : ['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college', 'Assoc-acdm', 'Assoc-voc', '7th-8th', 'Doctorate', 'Prof-school', '5th-6th', '10th', '1st-4th', 'Preschool', '12th']
marital-status : ['Never-married', 'Married-civ-spouse', 'Divorced', 'Married-spouse-absent', 'Separated', 'Married-AF-spouse', 'Widowed']
occupation : ['Adm-clerical', 'Exec-managerial', 'Handlers-cleaners', 'Prof-specialty', 'Other-service', 'Sales', 'Craft-repair', 'Transport-moving', 'Farming-fishing', 'Machine-op-inspct', 'Tech-support', '?', 'Protective-serv', 'Armed-Forces', 'Priv-house-serv']
relationship : ['Not-in-family', 'Husband', 'Wife', 'Own-child', 'Unmarried', 'Other-relative']
race : ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']
sex : ['Male', 'Female']
native-country : ['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico', 'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany', 'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia', 'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal', 'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala', 'China', 'Japan', 'Yugoslavia', 'Peru', 'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago', 'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary', 'Holand-Netherlands']
salary : ['<=50K', '>50K']

In [16]:
#Since we found '?' in columns occupation, workclass, and native-country
#we remove the records that contains the question mark '?'

In [17]:
df.loc[(df['occupation'] == '?') | (df['workclass'] == '?') | (df['native-country'] == '?')]

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
14,40,40,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,?,>50K
27,54,60,?,Some-college,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,South,>50K
38,31,38,Private,Some-college,Married-civ-spouse,Sales,Husband,White,Male,?,>50K
51,18,30,Private,HS-grad,Never-married,Other-service,Own-child,White,Female,?,<=50K
61,32,40,?,7th-8th,Married-spouse-absent,?,Not-in-family,White,Male,?,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32530,35,55,?,Bachelors,Married-civ-spouse,?,Wife,White,Female,United-States,>50K
32531,30,99,?,Bachelors,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,United-States,<=50K
32539,71,10,?,Doctorate,Married-civ-spouse,?,Husband,White,Male,United-States,>50K
32541,41,32,?,HS-grad,Separated,?,Not-in-family,Black,Female,United-States,<=50K
32542,72,25,?,HS-grad,Married-civ-spouse,?,Husband,White,Male,United-States,<=50K

In [18]:
#removed the records that contains the question mark '?' based on workclass

In [19]:
df.drop(df[df['workclass'] == '?'].index, inplace = True)
df

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,40,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,58,40,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,22,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,52,40,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [20]:
#removed the records that contains the question mark '?' based on occupation

In [21]:
df.drop(df[df['occupation'] == '?'].index, inplace = True)
df

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,40,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,58,40,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,22,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,52,40,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [22]:
#removed the records that contains the question mark '?' based on native-country

In [23]:
df.drop(df[df['native-country'] == '?'].index, inplace = True)
df

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
32556,27,38,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,40,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,58,40,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,22,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,52,40,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [24]:
df.reset_index(inplace = True,drop=True)
df

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
30157,27,38,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
30158,40,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
30159,58,40,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
30160,22,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
30161,52,40,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [25]:
df

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country,salary
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...
30157,27,38,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
30158,40,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
30159,58,40,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
30160,22,20,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
30161,52,40,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [26]:
#Moved the salary column to another variable

In [27]:
target_salary = df.pop('salary')
df.head()

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,39,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States
1,50,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States
2,38,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States
3,53,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States
4,28,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba

In [28]:
label = {}
for c in df.iloc[:,2:].columns:
   df[c], label[c] = pd.factorize(df[c])

df.head()

,age,hours-per-week,workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,39,40,0,0,0,0,0,0,0,0
1,50,13,1,0,1,1,1,0,0,0
2,38,40,2,1,2,2,0,0,0,0
3,53,40,2,2,1,2,1,1,0,0
4,28,40,2,0,1,3,2,1,1,1

In [29]:
df.shape

(30162, 10)

In [30]:
#Logistic Regression

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import numpy as np

In [32]:
#since this is a binary classification we will use logistic regression

In [33]:
#normalizing data

In [34]:
scaler = StandardScaler()
df = scaler.fit_transform(df.values)

In [35]:
x_train, x_test, y_train, y_test = train_test_split(df, target_salary, test_size = 0.3)

clf = LogisticRegression().fit(x_train,y_train)
clf

LogisticRegression()

In [36]:
clf.score(x_test, y_test)

0.7590894021438833

In [37]:
print(classification_report(y_test, clf.predict(x_test)))

              precision    recall  f1-score   support

       <=50K       0.78      0.94      0.85      6766
        >50K       0.55      0.23      0.33      2283

    accuracy                           0.76      9049
   macro avg       0.67      0.58      0.59      9049
weighted avg       0.73      0.76      0.72      9049

In [38]:
#Hyperparameter tuning using the GridSearchCV

In [39]:
from sklearn.model_selection import GridSearchCV

In [40]:
# Creating the hyperparameter grid

In [41]:
param_grid = {'C': [1,10,100,1000]}

In [42]:
# Instantiating logistic regression classifier

In [43]:
logreg = LogisticRegression()

In [44]:
# Instantiating the GridSearchCV object

In [45]:
logreg_cv = GridSearchCV(logreg, param_grid, cv = 5)

In [46]:
logreg_cv.fit(x_train, y_train)
logreg_cv.predict(x_test)

array(['<=50K', '<=50K', '<=50K', ..., '<=50K', '<=50K', '<=50K'],
      dtype=object)

In [47]:
# Print the tuned parameters and score

In [48]:
print("Tuned Logistic Regression Parameters: {}".format(logreg_cv.best_params_)) 
print("Best score is {}".format(logreg_cv.best_score_))

Tuned Logistic Regression Parameters: {'C': 1}
Best score is 0.7662103930417365

In [49]:
print(classification_report(y_test, logreg_cv.predict(x_test)))

              precision    recall  f1-score   support

       <=50K       0.78      0.94      0.85      6766
        >50K       0.55      0.23      0.33      2283

    accuracy                           0.76      9049
   macro avg       0.67      0.58      0.59      9049
weighted avg       0.73      0.76      0.72      9049

In [50]:
#Support Vector Machine

In [51]:
from sklearn.svm import SVC

In [52]:
cls1 = SVC()

In [53]:
# transform the list of text to tf-idf before passing it to the model

In [54]:
cls1.fit(x_train,y_train)
cls1

SVC()

In [55]:
y_pred1 = cls1.predict(x_test)

print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

       <=50K       0.83      0.92      0.87      6766
        >50K       0.65      0.46      0.54      2283

    accuracy                           0.80      9049
   macro avg       0.74      0.69      0.71      9049
weighted avg       0.79      0.80      0.79      9049

In [56]:
#Hyperparameter tuning using the GridSearchCV

In [57]:
from sklearn.model_selection import GridSearchCV
  
# Creating the hyperparameter grid

param_grid = {'C': [1,10,100,1000]}
  
# Instantiating logistic regression classifier
svm_clf = SVC()
  
# Instantiating the GridSearchCV object
svm_cv = GridSearchCV(svm_clf, param_grid, cv = 5)
  
svm_cv.fit(x_train, y_train)
svm_cv.predict(x_test)

# Print the tuned parameters and score
print("Tuned SVM Parameters: {}".format(logreg_cv.best_params_)) 
print("Best score is {}".format(logreg_cv.best_score_))

Tuned SVM Parameters: {'C': 1}
Best score is 0.7662103930417365

In [58]:
#Hyperparameter tuning using GridSearchCV with more parameters

In [59]:
# defining parameter range
param_grid_svm = {'C': [0.1, 1, 10, 100, 1000], 
              'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
              'kernel': ['rbf']} 
  
grid_svm = GridSearchCV(SVC(), param_grid_svm, refit = True, verbose = 3)
  
# fitting the model for grid search
grid_svm.fit(x_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV 1/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.801 total time=  15.6s
[CV 2/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.802 total time=  15.4s
[CV 3/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.795 total time=  15.3s
[CV 4/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.788 total time=  13.0s
[CV 5/5] END ........C=0.1, gamma=1, kernel=rbf;, score=0.795 total time=  15.5s
[CV 1/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.801 total time=   7.5s
[CV 2/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.793 total time=   7.4s
[CV 3/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.794 total time=   7.5s
[CV 4/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.789 total time=   7.5s
[CV 5/5] END ......C=0.1, gamma=0.1, kernel=rbf;, score=0.798 total time=   7.7s
[CV 1/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.753 total time=   7.8s
[CV 2/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.753 total time=   7.8s
[CV 3/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.753 total time=   7.7s
[CV 4/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.752 total time=   7.8s
[CV 5/5] END .....C=0.1, gamma=0.01, kernel=rbf;, score=0.752 total time=   7.8s
[CV 1/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.753 total time=   7.8s
[CV 2/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.753 total time=   7.9s
[CV 3/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.753 total time=   7.8s
[CV 4/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.752 total time=   7.9s
[CV 5/5] END ....C=0.1, gamma=0.001, kernel=rbf;, score=0.752 total time=   8.0s
[CV 1/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.1s
[CV 2/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.2s
[CV 3/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.3s
[CV 4/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.752 total time=   7.3s
[CV 5/5] END ...C=0.1, gamma=0.0001, kernel=rbf;, score=0.752 total time=   7.3s
[CV 1/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.820 total time=  18.6s
[CV 2/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.811 total time=  18.5s
[CV 3/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.812 total time=  18.6s
[CV 4/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.812 total time=  18.2s
[CV 5/5] END ..........C=1, gamma=1, kernel=rbf;, score=0.822 total time=  15.9s
[CV 1/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.817 total time=   7.3s
[CV 2/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.809 total time=   7.3s
[CV 3/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.805 total time=   7.3s
[CV 4/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.807 total time=   7.5s
[CV 5/5] END ........C=1, gamma=0.1, kernel=rbf;, score=0.812 total time=   7.7s
[CV 1/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.772 total time=   7.8s
[CV 2/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.770 total time=   7.8s
[CV 3/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.773 total time=   7.8s
[CV 4/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.775 total time=   8.1s
[CV 5/5] END .......C=1, gamma=0.01, kernel=rbf;, score=0.769 total time=   8.4s
[CV 1/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.2s
[CV 2/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.3s
[CV 3/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.1s
[CV 4/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.752 total time=   8.3s
[CV 5/5] END ......C=1, gamma=0.001, kernel=rbf;, score=0.752 total time=   8.6s
[CV 1/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.9s
[CV 2/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.8s
[CV 3/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.753 total time=   7.8s
[CV 4/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.752 total time=   8.0s
[CV 5/5] END .....C=1, gamma=0.0001, kernel=rbf;, score=0.752 total time=   7.7s
[CV 1/5] END .........C=10, gamma=1, kernel=rbf;, score=0.805 total time=  25.6s
[CV 2/5] END .........C=10, gamma=1, kernel=rbf;, score=0.801 total time=  26.2s
[CV 3/5] END .........C=10, gamma=1, kernel=rbf;, score=0.798 total time=  25.5s
[CV 4/5] END .........C=10, gamma=1, kernel=rbf;, score=0.802 total time=  24.6s
[CV 5/5] END .........C=10, gamma=1, kernel=rbf;, score=0.812 total time=  25.7s
[CV 1/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.816 total time=   8.7s
[CV 2/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.811 total time=   8.8s
[CV 3/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.808 total time=   8.8s
[CV 4/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.811 total time=   8.6s
[CV 5/5] END .......C=10, gamma=0.1, kernel=rbf;, score=0.813 total time=   8.9s
[CV 1/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.802 total time=   7.9s
[CV 2/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.796 total time=   7.9s
[CV 3/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.798 total time=   7.8s
[CV 4/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.791 total time=   7.9s
[CV 5/5] END ......C=10, gamma=0.01, kernel=rbf;, score=0.799 total time=   8.1s
[CV 1/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.3s
[CV 2/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.3s
[CV 3/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.753 total time=   8.6s
[CV 4/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.752 total time=   8.4s
[CV 5/5] END .....C=10, gamma=0.001, kernel=rbf;, score=0.752 total time=   8.4s
[CV 1/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.753 total time=   8.7s
[CV 2/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.753 total time=   8.8s
[CV 3/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.753 total time=   8.8s
[CV 4/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.2s
[CV 5/5] END ....C=10, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.0s
[CV 1/5] END ........C=100, gamma=1, kernel=rbf;, score=0.789 total time=  47.6s
[CV 2/5] END ........C=100, gamma=1, kernel=rbf;, score=0.786 total time=  48.4s
[CV 3/5] END ........C=100, gamma=1, kernel=rbf;, score=0.789 total time=  50.8s
[CV 4/5] END ........C=100, gamma=1, kernel=rbf;, score=0.793 total time=  41.8s
[CV 5/5] END ........C=100, gamma=1, kernel=rbf;, score=0.800 total time=  46.4s
[CV 1/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.814 total time=  16.6s
[CV 2/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.805 total time=  16.1s
[CV 3/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.807 total time=  16.3s
[CV 4/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.800 total time=  15.8s
[CV 5/5] END ......C=100, gamma=0.1, kernel=rbf;, score=0.818 total time=  16.4s
[CV 1/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.813 total time=   9.9s
[CV 2/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.803 total time=  10.0s
[CV 3/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.806 total time=   9.8s
[CV 4/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.806 total time=  10.3s
[CV 5/5] END .....C=100, gamma=0.01, kernel=rbf;, score=0.806 total time=  10.2s
[CV 1/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.771 total time=   8.6s
[CV 2/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.767 total time=   8.3s
[CV 3/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.774 total time=   8.6s
[CV 4/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.776 total time=   8.7s
[CV 5/5] END ....C=100, gamma=0.001, kernel=rbf;, score=0.770 total time=   8.8s
[CV 1/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.4s
[CV 2/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.3s
[CV 3/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.4s
[CV 4/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.9s
[CV 5/5] END ...C=100, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.8s
[CV 1/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.775 total time= 2.1min

[CV 2/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.778 total time= 3.3min
[CV 3/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.773 total time= 2.9min
[CV 4/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.778 total time= 3.4min
[CV 5/5] END .......C=1000, gamma=1, kernel=rbf;, score=0.783 total time= 2.7min
[CV 1/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.807 total time= 1.2min
[CV 2/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.802 total time= 1.2min
[CV 3/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.799 total time= 1.2min
[CV 4/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.788 total time= 1.1min
[CV 5/5] END .....C=1000, gamma=0.1, kernel=rbf;, score=0.807 total time= 1.1min
[CV 1/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.815 total time=  22.7s
[CV 2/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.806 total time=  23.3s
[CV 3/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.807 total time=  23.2s
[CV 4/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.809 total time=  23.2s
[CV 5/5] END ....C=1000, gamma=0.01, kernel=rbf;, score=0.812 total time=  22.4s
[CV 1/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.799 total time=  11.0s
[CV 2/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.794 total time=  10.8s
[CV 3/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.797 total time=  10.8s
[CV 4/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.792 total time=  10.6s
[CV 5/5] END ...C=1000, gamma=0.001, kernel=rbf;, score=0.798 total time=  11.1s
[CV 1/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.8s
[CV 2/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.5s
[CV 3/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.753 total time=   9.4s
[CV 4/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.7s
[CV 5/5] END ..C=1000, gamma=0.0001, kernel=rbf;, score=0.752 total time=   9.7s

GridSearchCV(estimator=SVC(),
             param_grid={'C': [0.1, 1, 10, 100, 1000],
                         'gamma': [1, 0.1, 0.01, 0.001, 0.0001],
                         'kernel': ['rbf']},
             verbose=3)

In [60]:
# print best parameter after tuning
print(grid_svm.best_params_)

# print how our model looks after hyper-parameter tuning
print(grid_svm.best_estimator_)

{'C': 1, 'gamma': 1, 'kernel': 'rbf'}
SVC(C=1, gamma=1)

In [61]:
grid_predicts = grid_svm.predict(x_test)

# print classification report
print(classification_report(y_test, grid_predicts))

              precision    recall  f1-score   support

       <=50K       0.84      0.92      0.88      6766
        >50K       0.67      0.48      0.56      2283

    accuracy                           0.81      9049
   macro avg       0.76      0.70      0.72      9049
weighted avg       0.80      0.81      0.80      9049